body[class*="right-two-columns"] {
	@media (min-width: $size__screen-sm-min){
		#site-navigation {
			display: none;	
		}
		#content {
			padding-left: $size__grid-gutter-width/2;
			padding-right: $size__grid-gutter-width/2;
		}
	}
}
