/* Editor Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

@font-face {
  font-family: 'ufshands';
  src: url("inc/fonts/ufshands-webfont.eot");
  src: url("inc/fonts/ufshands-webfont.eot?#iefix") format("embedded-opentype"), url("inc/fonts/ufshands-webfont.woff") format("woff"), url("inc/fonts/ufshands-webfont.ttf") format("truetype"), url("inc/fonts/ufshands-webfont.svg#HelveticaNeueLT57CnRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6; }

.content-area {
  font-size: 13px;
  font-size: 1.3rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: ufshands, Arial, sans-serif;
  color: #243778;
  font-weight: normal; }

.entry-title, .page-title, h2, .entry-content h1 {
  font-size: 28px;
  font-size: 2.8rem;
  margin-bottom: 0.5em; }

.archive .page-title {
  color: #666;
  margin-bottom: 0; }

.archive .page-header {
  border-bottom: 2px solid #E0E0E0;
  margin-top: 0; }

.archive .taxonomy-description {
  color: #666;
  font-style: italic;
  margin-top: 1em;
  font-weight: bold; }

h3 {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 0.2em; }

h4 {
  margin: 20px 0 10px;
  font-size: 15.6px;
  font-size: 1.56rem; }

h5, h6 {
  margin: 10px 0 10px; }

p {
  margin-bottom: 1.5em; }
  p.lead {
    font-family: Georgia, serif;
    font-size: 1.3em;
    font-style: italic;
    margin-bottom: 1.3em; }

b, strong {
  font-weight: bold; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 1.5em;
  padding: 1em;
  font-size: 1.4em;
  font-style: italic;
  border-left: 5px solid #6377b2;
  color: #243778;
  background: url("images/bg-sprite-transparent.png") no-repeat scroll -1240px -519px #d7def0; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-size: 15px;
  font-size: 1.5rem;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

.hyphenation {
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

article ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1.5em; }
  article ul li {
    background: transparent url("images/bg-orange-bullet.png") 0 8px no-repeat;
    padding-left: 12px;
    margin-bottom: 0.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

th {
  font-weight: bold; }

tr:nth-child(2n) td, tr.even td {
  background: #F2F6FC none repeat scroll 0% 0%; }

.entry-content .tab_wrap {
  margin: 0 0 24px; }
  .entry-content .tab_wrap .nav-tabs li {
    background-image: none; }
  .entry-content .tab_wrap .tab-content {
    padding: 24px;
    border: 1px solid #ddd;
    border-bottom-width: 2px;
    border-top: none; }
.entry-content .row, .entry-content .carousel {
  margin-bottom: 24px; }

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */ }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin: 0 auto; }

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

img.border {
  padding: 7px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0px 0px 5px #999; }
#site-image img {
  width: 100%;
  height: auto; }
  @media (min-width: 767px) {
    #site-image img {
      min-height: 200px; } }

@media screen and (max-width: 479px) {
  .alignright, .alignleft {
    float: none;
    margin: 0 0 1em;
    clear: both;
    display: block;
    text-align: center; } }

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
  border: 1px solid #aaa;
  border-bottom-width: 2px; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto; }
  .wp-caption > a + br {
    display: none; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center;
  font-style: italic;
  padding: 0 0.5em; }

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
12.3 Slideshows
--------------------------------------------------------------*/
.slideshow_container .slideshow_container a {
  text-decoration: none; }
  .slideshow_container .slideshow_container a:hover {
    text-decoration: none; }
.slideshow_container .slideshow_slide {
  margin-right: 2px; }
.slideshow_container .slideshow_content .slideshow_slide_text {
  padding: 20px 20px 20px 40px; }
  @media (max-width: 479px) {
    .slideshow_container .slideshow_content .slideshow_slide_text {
      padding: 20px 10px 20px 20px; } }
  .slideshow_container .slideshow_content .slideshow_slide_text div.slideshow_title,
  .slideshow_container .slideshow_content .slideshow_slide_text .slideshow_title {
    margin-top: 40px;
    margin-bottom: 12px;
    text-align: inherit;
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 1.1em; }
  .slideshow_container .slideshow_content .slideshow_slide_text div.slideshow_description,
  .slideshow_container .slideshow_content .slideshow_slide_text .slideshow_description {
    text-align: inherit; }
  .slideshow_container .slideshow_content .slideshow_slide_text div, .slideshow_container .slideshow_content .slideshow_slide_text p, .slideshow_container .slideshow_content .slideshow_slide_text h1, .slideshow_container .slideshow_content .slideshow_slide_text h2, .slideshow_container .slideshow_content .slideshow_slide_text h3, .slideshow_container .slideshow_content .slideshow_slide_text h4, .slideshow_container .slideshow_content .slideshow_slide_text h5, .slideshow_container .slideshow_content .slideshow_slide_text h6 {
    font-family: ufshands, Arial, sans-serif;
    text-align: left; }
    @media (max-width: 479px) {
      .slideshow_container .slideshow_content .slideshow_slide_text div, .slideshow_container .slideshow_content .slideshow_slide_text p, .slideshow_container .slideshow_content .slideshow_slide_text h1, .slideshow_container .slideshow_content .slideshow_slide_text h2, .slideshow_container .slideshow_content .slideshow_slide_text h3, .slideshow_container .slideshow_content .slideshow_slide_text h4, .slideshow_container .slideshow_content .slideshow_slide_text h5, .slideshow_container .slideshow_content .slideshow_slide_text h6 {
        text-align: center; } }
.slideshow_container .slideshow_description_box {
  background: #000;
  width: 100%; }
  .slideshow_container .slideshow_description_box div, .slideshow_container .slideshow_description_box p, .slideshow_container .slideshow_description_box h1, .slideshow_container .slideshow_description_box h2, .slideshow_container .slideshow_description_box h3, .slideshow_container .slideshow_description_box h4, .slideshow_container .slideshow_description_box h5, .slideshow_container .slideshow_description_box h6 {
    text-align: center;
    color: #fff; }
    .slideshow_container .slideshow_description_box div a, .slideshow_container .slideshow_description_box p a, .slideshow_container .slideshow_description_box h1 a, .slideshow_container .slideshow_description_box h2 a, .slideshow_container .slideshow_description_box h3 a, .slideshow_container .slideshow_description_box h4 a, .slideshow_container .slideshow_description_box h5 a, .slideshow_container .slideshow_description_box h6 a {
      text-align: center;
      color: #fff; }
.slideshow_container .slideshow_transparent {
  filter: alpha(opacity=50);
  opacity: 0.5; }
  .slideshow_container .slideshow_transparent:hover {
    filter: alpha(opacity=80);
    opacity: 0.8; }

body {
  background-color: #fff;
  max-width: 960px;
  margin: 15px;
  font-size: 13px; }

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1.5em; }
  ul li {
    background: transparent url("images/bg-orange-bullet.png") 0 8px no-repeat;
    padding-left: 12px;
    margin-bottom: 0.5em; }

/*# sourceMappingURL=editor-style.css.map */
