.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	&.border {
		padding: 7px;
		border: 1px solid #ccc;
		background-color: #fff;
		box-shadow: 0px 0px 5px #999;
	}
	
	&.alignnone {
		//margin-bottom: 1em;
	}
	#site-image & {
		width: 100%;
		height: auto;
		@media (min-width: $size__screen-xs-max){
			min-height: 200px;
		}
	}
}
.alignright, .alignleft {
	@media screen and (max-width: $size__screen-xxs-max){
		float: none;
		margin: 0 0 1em;
		clear: both;
		display: block;
		text-align: center;
	}
}


/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
@import "galleries";

/*--------------------------------------------------------------
12.3 Slideshows
--------------------------------------------------------------*/
@import "slideshows";