h1, h2, h3, h4 {
	font-family: $font__headings;
	color: $color__link;
	font-weight: normal;
}
h4, h5, h6 {
	font-weight: bold;
}
.entry-title, .page-title,  h2 {
	@include font-size(2.8);
	margin-bottom: 0.5em;
}
.archive .page-title {
	color: $color__heading-archive;
	margin-bottom: 0;
}
.archive .page-header {
	//background-color: $color__heading-archive-bg;
	//border-bottom: 5px solid $color__heading-archive-border;
	border-bottom: 2px solid $color__menu-border-bottom;
	//padding: 1em;
	margin-top: 0;
}
.archive .taxonomy-description {
	color: #666;
	font-style: italic;
	margin-top: 1em;
	font-weight: bold;
}
h3 {
	@include font-size(1.8);
	margin-bottom: 0.2em;
}