$font__main: sans-serif;
$font__lead: Georgia,serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.6;
$font__line-height-pre: 1.6;

$font__headings: ufshands, Arial, sans-serif;
$font__heading-title-size: 2.2em;
$font__heading3-size: 18px;

$font__menu-size: 0.95em;
$font__menu-line-height: 1.3em;

$font__widget-size: 12px;

$font__footer-size: 11px;

$font__main-size: 0.8em;