.main-navigation {

	@media screen and (min-width: $size__screen-xs-min){
		margin-bottom: 24px;
	}
	
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
	li {
		position: relative;
		font-family: $font__headings;
		
		li a {
			background: $color__menu-bg-submenu url("images/bg-sprite-transparent.png") -1068px 2px no-repeat;
			border-top: 1px solid $color__menu-border-bottom;
			border-bottom: none;
			padding-left: $size__grid-gutter-width*1.2;
		}
		li li a {
			padding-left: $size__grid-gutter-width*1.8;
			background-image: none;
		}
		li.current_page_item > a,
		li.current-menu-item > a {
			background-color: $color__menu-bg-over;
			color: $color__link;
		}
	}
	a {
		display: block;
		text-decoration: none;
		padding: 10px 10px 10px $size__grid-gutter-width*0.8;
		background-color: $color__menu-bg;
		border-top: 1px solid $color__menu-border-top;
		border-bottom: 2px solid $color__menu-border-bottom;
		font-size: $font__menu-size;
		line-height: $font__menu-line-height;
		
		&:hover, &:active, &:focus {
			color: $color__link;
			background-color: $color__menu-bg-over;
		}
		&:visited {
			color: $color__link;
		}
	}

	.current_page_item > a,
	.current-menu-item > a {
		background-color: $color__menu-bg-current;
		color: $color__menu-text-current;
		cursor: default;
		
		&:before {
			content: ".";
			background: url("images/bg-sprite-transparent.png") no-repeat scroll -879px -107px transparent;
			display: block;
			height: 27px;
			left: -7px;
			position: absolute;
			top: 5px;
			width: 27px;
		}
	}
	.current_page_ancestor > a {
		//background-color: $color__menu-bg-over;
		cursor: default;
		
	}
}


// Jasny Boostrap Overrides
.navmenu {
	border: none;
	border-radius: 0;
	max-width: 100%;
	
	@media screen and (max-width: $size__screen-xs-max) {
		&.offcanvas, &.canvas-slid, &.canvas-sliding {
			left: 0;
			right: auto;
			top: 0px;
			bottom: 0;
			position: fixed;
			overflow-y: auto;
			z-index: 1030;
			max-width: 260px;
			box-shadow: 1px 0 4px 0px #666;
			border-right: 2px solid #fff;
			border-top: 1px solid #eee;
			background-color: #ddd;
		}
	}
	@media screen and (min-width: $size__screen-sm-min) {
		&.offcanvas {
			display: block;
		}
	}
}
.navbar-oncanvas {
	display: none;
	
	@media screen and (max-width: $size__screen-xs-max) {
		display: block;
		min-height: 30px;
	}
}

#mobile-navigation {
	.btn {
		margin-top: 8px;
		margin-right: 10px;
		font-size: 20px;
		padding: 5px 12px 1px;
		color: #444;
	}
	.navbar-toggle {
		.icon-bar {
			background-color: #333;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.disabled {;
		color: #888;
	}
}



.footer-navigation {
	padding-bottom: 4px;
	overflow: auto;
	
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
	li {
		display: inline-block;
		margin-right: 0;
		padding: 0 8px;
		border-left: 1px solid $color__menu-border-bottom;
		
		&:first-of-type {
			border-left: none;
			padding-left: 0;
		}
		
		li {
			display: none;
		}
	}
}


.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
